h1 {
  text-align: center;
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

footer {
  display: flex;
  align-items: flex-start;
}

.footer-col {
  flex: 1;
  padding: 20px;
}
